<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
    layout:decorate="~{layout}">
<body>
    <div class="container" layout:fragment="corpo">
        <h2>Clientes</h2>
        <div style="float:inline-end;margin-bottom:20px;margin-top:20px">
            <a th:href="@{/relatorios/relatorio/pdf/jr1(code='01', acao='v')}" 
                target="_blank" class="btn btn-outline-primary">Visualizar relatório PDF</a>
        </div>

        <div>
            <table class="table table-striped">
                <div th:replace="fragments/alerta"></div>

                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Bairro</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cli : ${clientes}">
                        <td th:text="${cli.nome}"></td>
                        <td th:text="${cli.email}"></td>
                        <td th:text="${cli.telefone}"></td>
                        <td th:text="${cli.endereco.bairro}"></td>
                        <td th:text="${cli.endereco.cidade}"></td>
                        <td th:text="${cli.endereco.uf}"></td>
                    </tr>
                </tbody>
            </table>
            <div th:replace="fragments/paginacao"></div>
        </div>
    </div>
</body>
</html>