<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.w3.org/1999/xhtml" 
    layout:decorate="~{layout}">
<body>
    <div class="container" layout:fragment="corpo">
        <h2>Controle de Equipamentos</h2>
        <div th:replace="fragments/alerta"></div>

        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-header">Equipamentos Recebidos</div>
                    <div class="card-body">
                        <h5 class="card-title">[[${recebimento}]]</h5>
                        <a th:href="@{/operacao/listar}" class="btn btn-outline-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header">Ordens de Serviços Abertas</div>
                    <div class="card-body">
                        <h5 class="card-title">[[${os}]]</h5>
                        <a th:href="@{/atendimento/listar}" class="btn btn-outline-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header">Atendimentos Cancelados</div>
                    <div class="card-body">
                        <h5 class="card-title">[[${cc}]]</h5>
                        <a th:href="@{/operacao/devolver}" class="btn btn-outline-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header">Liberados para Devolução</div>
                    <div class="card-body">
                        <h5 class="card-title">[[${liberado}]]</h5>
                        <a th:href="@{/operacao/devolver}" class="btn btn-outline-primary">Ir para</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>