<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Srping Boot</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" type="text/css" href="css/style-login.css">
  <!-- favicon -->
  <link rel="icon" th:href="@{/img/favicon.png}" />
</head>
<body>
	<div class="container">
		<h2>Login</h2>
		<form class="form" method="post" th:action="@{/login}">
			<div class="erro" th:if="${loginErro != null}">
				<span th:text="${loginErro}"></span>
			</div>
			<div class="form-group">
				<label>Login</label>
				<input type="text" name="username" />
			</div>
			<div class="form-group">
				<label>Senha</label>
				<input type="password" id="password" name="password" />
				<span><input type="checkbox" onclick="showPass()"> Mostrar Senha</span>
			</div>
			<div class="form-group">
				<input type="submit" name="enviar" value="Entrar" />
			</div>
		</form>
	</div>
	<script type="text/javascript">
		function showPass() {
		  var campo = document.getElementById("password");
		  if (campo.type === "password") {
		    campo.type = "text";
		  } else {
		    campo.type = "password";
		  }
		} 
	</script>
</body>
</html>